<a href="https://colab.research.google.com/github/vparas850/Association/blob/main/association.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dataset = pd.read_csv('/content/sample_data/Group7_dataset_tests_state_wise.csv', header = None) #To make sure the first row is not thought of as the heading
df1 = pd.DataFrame(dataset)
#df1= df[[1,2,3,5,4,5,6,7,8,9,10,11,12,13,14,15,16,25]]
df1.shape
#Transforming the list into a list of lists, so that each transaction can be indexed easier
transactions = []
for i in range(0, df1.shape[0]):
    transactions.append([str(df1.values[i, j]) for j in range(0, 27)])

print(transactions[0])

['Updated On', 'State', 'Total Tested', 'Tag (Total Tested)', 'Positive', 'Negative', 'Unconfirmed', 'Cumulative People In Quarantine', 'Total People Currently in Quarantine', 'Tag (People in Quarantine)', 'Total People Released From Quarantine', 'People in ICU', 'People on Ventilators', 'Num Isolation Beds', 'Num ICU Beds', 'Num Ventilators', 'Total PPE', 'Total N95 Masks', 'Corona Enquiry Calls', 'Num Calls State Helpline', 'Source1', 'Source2', 'Source3', 'Test positivity rate', 'Tests per thousand', 'Tests per million', 'Tests per positive case']

In [7]:
from apyori import apriori
# Please download this as a custom package --> type "apyori"
# To load custom packages, do not refresh the page. Instead, click on the reset button on the Console.

rules = apriori(transactions, min_support = 0.03, min_confidence = 0.2, min_lift = 3, min_length = 10)
# Support: number of transactions containing set of times / total number of transactions
# .      --> products that are bought at least 3 times a day --> 21 / 7501 = 0.0027
# Confidence: Should not be too high, as then this wil lead to obvious rules

#Try many combinations of values to experiment with the model. 

#viewing the rules
results = list(rules)

In [8]:
results = pd.DataFrame(results)
results.head()

                           items  ...                                 ordered_statistics
0                (1031.0, Delhi)  ...  [((1031.0), (Delhi), 0.99009900990099, 31.2277...
1           (17321.0, Karnataka)  ...  [((17321.0), (Karnataka), 1.0, 31.227722772277...
2        (Gujarat, All Included)  ...  [((All Included), (Gujarat), 0.612499999999999...
3  (Facility, Samples Collected)  ...  [((Facility), (Samples Collected), 0.371501272...
4        (Samples Sent, Haryana)  ...  [((Haryana), (Samples Sent), 1.0, 3.2922755741...

[5 rows x 3 columns]